.env
.venv
slurm/
tools/
dataset/
experiments/
docs/
wandb/
gpt-oss-20b-multilingual-reasoner/

.DS_Store
__pycache__/
.pytest_cache/
Ultimate.log
*.errorpath
.idea/
.vscode
example_reports/
timing_test_reports/
.cursor/
.ruff_cache/
trained_models/